#search{
    margin-top: 20px;
    margin-left: 45%;
    margin-bottom: 80px;
}         

       /* Pin */
#first{
    background-color: blanchedalmond;
    color: rgb(172, 172, 10);

    height: 40px;
    margin-top:20px ;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;

    line-height: 40px;
    padding-left: 5px ;
}
         /* Task Name 1 */
#one{
    background-color: rgb(221, 182, 109);
    color: rgb(134, 92, 13);

    height: 50px;
    margin-top:20px ;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
    vertical-align: middle;

    line-height: 50px;
    padding-left: 5px ;
}

           /* Past */
#second{
    background-color: pink;
    color: rgb(184, 62, 82);

    height: 40px;
    margin-top:20px ;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;

    line-height: 40px;
    padding-left: 5px ;

}

         /* Task Name 2 */
#two{
    background-color: white;
    color: black;
    border: 2px solid black;

    height: 50px;
    margin-top:20px ;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
    vertical-align: middle;
    
    line-height: 50px;
    padding-left: 5px ;

}

         /* Today */
#third{
    background-color: lightgrey;
    color: rgb(90, 79, 79);

    height: 40px;
    margin-top:20px ;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;

    line-height: 40px;
    padding-left: 5px ;

}
         /* Task Name 3 */
#three{
    background-color: lightblue;
    color: rgb(134, 92, 13);

    height: 50px;
    margin-top:20px ;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-right: 60px;
    vertical-align: middle;

    line-height: 50px;
    padding-left: 5px ;


}
