h1{
    font-size: 70px;
    font-weight: bold;
}

ul{
    list-style-type: square;
    background-color: rgb(149, 225, 235);
    padding: 50px;
}

li{
    background-color: rgba(19, 70, 138, 0.795);
    margin-bottom: 15px;
    color: white;
    font-size: 30px;
}