

.container-fluid {
    background-color:aqua;
    padding-left: 20px;
    padding-right: 100px;
    margin-left: 60px;
    margin-right: 200px;
    border-radius: 6px;
    
    

}


.nav-item{
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand{
    padding-right: 200px;
    
}


    