<html>

  


<head>

</head>
<body>
  <marquee>Manage Your time!</marquee>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" router-link="">Time Managment : Mange Your Day</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>`
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="align-self: center;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reminders">Reminders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pocket">Pocket</a>
            <li class="nav-item">
              <a class="nav-link" routerLink="User">User</a>
          
        </ul>
      </div>
    </div>
  </nav>


</body>
</html>

